*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/* HEADER */
.header{
    width: 100%;
    height: 70px;
    display:block;
    background-color: rgb(51, 27, 27);

}

.inner_header{
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.logo_container{
    height: 100%;
    display: table;
    float: left;
}

.logo_container h1{
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 32px;
    font-weight: 200;
}

.logo_container img{
    height: 70px;
    width: 70px;
    vertical-align: middle;
}
.navigation{
    float: right;
    height: 100%;
}

.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

.navigation a:last-child{
    padding-right: 0;
}
.navigation a li{
    display: table-cell;
    vertical-align: middle;
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* TEXT A ODSTAVCE */

.odstavec{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    color:white;
    font-style: initial;
    text-align: center;
}
/* 
body{
     background-image: url('../images/bg.png');
}
*/

.buttons div{
	/* border:1px black;*/
	padding:10px;
	background-color: rgb(51, 27, 27);
	margin: 0 40px;
}

.buttons div h3{
	color:white;
}

.buttons{
	display:flex;
	justify-content: center;
	margin: 0 -5px;
}

.projects div{
	/* border:1px black;*/
	padding:10px;
	background-color: rgb(51, 27, 27);
	margin: 0 40px;
	text-align: center;
}

.projects div h3{
	color:white;
}

.projects{
	display:flex;
	justify-content: center;
	margin: 0 -5px;
}
